session_serialization  false
show_startup_tips false

keybinds {
    shared {
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt m" { ToggleFloatingPanes; }
    }
}
